{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Room Name</th>
                <th>12 AM</th>
                <th>1 AM</th>
                <th>2 AM</th>
                <th>3 AM</th>
                <th>4 AM</th>
                <th>5 AM</th>
                <th>6 AM</th>
                <th>7 AM</th>
                <th>8 AM</th>
                <th>9 AM</th>
                <th>10 AM</th>
                <th>11 AM</th>
                <th>12 PM</th>
                <th>1 PM</th>
                <th>2 PM</th>
                <th>3 PM</th>
                <th>4 PM</th>
                <th>5 PM</th>
                <th>6 PM</th>
                <th>7 PM</th>
                <th>8 PM</th>
                <th>9 PM</th>
                <th>10 PM</th>
                <th>11 PM</th>
            </tr>
        </thead>
        <tbody>
        {% for hist in history %}
            <tr>
                <td>{{ hist.symbol }}</td>
                <td>{{ hist.shares }}</td>
                <td>{{ hist.price | usd}}</td>
                <td>{{ hist.time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}